.user-panel .balance {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.user-panel .balance p {
    font-size: 32px;
}

.cars {
    flex-direction: column;
    margin-top: 1rem;
}

.car {
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    border-radius: var(--default-radius);

    grid-template-columns: 1fr 1fr;

    width: 70%;
}

.car .from {
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
}

.car .estado_good {
    color: rgb(18, 201, 161);
    font-weight: 500;
    font-size: 18px;
}

.car .estado_bad {
    color: rgb(229, 91, 116);
    font-weight: 500;
    font-size: 18px;
}

.car .positive-value {
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    text-align: right;
}

.car .negative-value {
    color: var(--enf-color);
    font-weight: 700;
    font-size: 18px;
    text-align: right;
}
